@model bookingsMVC.Models.member

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>member</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.town)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.town)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.postcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.postcode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.memcat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.memcat)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
